<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <a class="navbar-brand" href="/">Blazorona</a>
 
  <span class="navbar-text text-right ml-auto">
      Live COVID-19 Updates
  </span>
</nav>